@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(
    90deg,
    rgb(1, 105, 216),
    rgba(255, 0, 150, 0.9)
  );
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(
      90deg,
      rgba(0, 123, 255, 0.9),
      rgba(255, 0, 150, 0.9)
    );
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #121212;
  font-family: Arial, Helvetica, sans-serif;
  background-attachment: fixed;
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loader {
  position: relative;
  cursor: default;
  -webkit-box-reflect: below -25px linear-gradient(transparent, #0005);
}

.loader p {
  position: relative;
  display: inline-flex;
  font-size: 3em;
  color: #fff;
  -webkit-text-stroke: 1px #fff9;
  text-transform: uppercase;
  font-weight: 800;
  animation: animate 2s ease-in-out infinite;
  animation-delay: calc(0.15s * var(--i));
}
@keyframes animate {
  0% {
    transform: translateY(0px);
    color: transparent;
    text-shadow: none;
  }
  20% {
    transform: translateY(-60px);
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff;
  }
  40%,
  100% {
    transform: translateY(0px);
    color: transparent;
  }
}
